* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
  /* overflow: hidden; */
   overflow-x:hidden;
}

html, body {
  height: 100%;
  width: 100%;
}

/* .parent {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
} */

 .parent {
  min-height: 100vh;
  width: 100vw;
  background-color: #000;
  padding: 40px;
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
 
}


.card {
  height: 330px;
    width: 320px;
  background-color: #fff;
  border-radius: 32px;
  padding: 24px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 15px 40px rgba(0,0,0,0.25);
}


.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 1px solid #000;
}


button {
  background: #000;
  color: #fff;
  border: none;
  padding: 6px 14px;
  border-radius: 999px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

button svg {
  width: 16px;
  height: 16px;
  color: #fff;
}

.center {
  margin-top: 10px;
}

.center h3 {
  font-size: 20px;
  font-weight: bold;
  font-weight: 600;
}

.center h3 span {
  font-weight: 400;
  color: #666;
  margin-left: 6px;
}

.center h2 {
  margin: 12px 0;
  font-size: 22px;
  line-height: 1.2;
}

.center div {
  display: flex;
  gap: 10px;
}

.center h4 {
  background: #f1f1f1;
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 500;
}


.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom h3 {
  font-size: 20px;
}

.bottom p {
  font-size: 13px;
  color: #555;
}
